.srt {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* ==========================================================================
  Browser support
  ========================================================================== */
/*

.class {
	@if $ie7 == true or $ie8 == true {
		do this
		}
}


.box {
  @if $ie7 == true {
    border: 1px solid #aaa
    }
  @else {
    -moz-box-shadow: 0 0 5px #aaa
    -webkit-box-shadow: 0 0 5px #aaa
    box-shadow: 0 0 5px #aaa
}
}
*/
[class^=btn-] {
  padding: 15px 30px;
  border: 0;
  color: #fff;
  text-transform: uppercase;
  display: block;
}
[class^=btn-]:hover {
  opacity: 0.75;
}
[class^=btn-]:active {
  opacity: initial;
}

.button-login {
  box-shadow: -4px 4px 0 -2px palette(black);
  border-radius: 0;
  background: #fff;
  color: palette(black);
  padding: 5px 15px 6px 15px;
  border: 1px solid palette(black);
  font-weight: 700;
  position: relative;
  min-width: 85px;
}

.group {
  zoom: 1;
}

.group:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

.btn-sidebar-close {
  background-color: #fff;
}
.btn-lovelycss-default {
  background-color: #0b0b0b;
}

.button-login:hover {
  color: palette(black);
  box-shadow: none;
  left: -2px;
  bottom: -2px;
}

.deodato.current {
  background-color: palette(black);
}
.deodato.current i {
  visibility: visible;
}
.deodato.current span {
  color: #fff;
}

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@font-face {
  font-family: "opensans";
  src: url("../fonts/Open_Sans/opensans-italic-webfont.eot");
  src: url("../fonts/Open_Sans/opensans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Open_Sans/opensans-italic-webfont.woff") format("woff"), url("../fonts/Open_Sans/opensans-italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.font-test-class {
  font-family: opensans, Arial, sans-serif;
}

html,
body {
  color: black;
  font: 400 16px/1.5rem "Tangerine", Helvetica, Arial, sans-serif, FontAwesome;
  height: 100%;
  min-height: 100%;
  padding-bottom: 20px;
  padding-top: 50px;
  width: 100%;
}

p {
  font-size: 0.75em;
}
p a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 2.375em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
}

h4 {
  text-transform: uppercase;
}

@media (min-width: 768px) {
  footer {
    background-color: #fff;
  }
}
header h1 {
  height: 40px;
  width: 140px;
  float: left;
  background: url(../../public/images/logo.png) 0 0 no-repeat;
  text-indent: -9999px;
}

header nav {
  float: right;
  margin-top: 40px;
}

header nav li {
  display: inline;
  margin-left: 15px;
}

.site-logo {
  background-image: url("../public/images/logo.png");
  background-repeat: no-repeat;
  width: 596px;
  height: 382px;
  display: inline-block;
  margin-top: 10px;
}

#banner {
  float: left;
  margin-bottom: 20px;
  width: 100%;
}

#banner img {
  width: 100%;
}

footer {
  float: left;
  margin-bottom: 15px;
  width: 100%;
  background-color: #797e83;
}

#container {
  width: 96%;
  max-width: 920px;
  margin: auto;
  padding: 2%;
}
#container header {
  color: white;
  background-color: red;
}
#container a {
  color: red;
}
#container a:hover {
  color: blue;
}
#main {
  width: 70%;
  margin-right: 5%;
  float: left;
}

aside {
  width: 25%;
  float: right;
}

/* Media Queries */
@media screen and (max-width: 480px) {
  header nav,
#main,
aside {
    float: left;
    clear: left;
    margin: 0 0 10px;
    width: 100%;
  }
}

/*# sourceMappingURL=app.dev.css.map */
