
//  *********************************************************************
//  =page name
//
//  Author : @douglasdeodato
//  Company: x
//  Project: x
//  Date   : nov 2020
//  Version: package.json
//  *********************************************************************/

footer {
  float: left;
  margin-bottom: 15px;
  width: 100%;
  background-color: $grey;
}
